@import "tailwindcss";
@import "tw-animate-css";

@import "@tc96/ui-react/styles.css";

@source "../../node_modules/@tc96/ui-react";

:root {
	--sidebar: var(--color-stone-50);
	--sidebar-primary: var(--color-stone-100);
	--sidebar-accent: var(--color-stone-200);
	--sidebar-border: var(--color-stone-200);
	--sidebar-ring: var(--color-stone-300);
}

.dark {
	--sidebar: var(--color-stone-950);
	--sidebar-primary: var(--color-stone-900);
	--sidebar-accent: var(--color-stone-800);
	--sidebar-border: var(--color-stone-800);
	--sidebar-ring: var(--color-stone-800);
}

@theme inline {
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
	button {
		@apply cursor-pointer;
	}
}
